<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Clientes</a>
  </li>
  <li class="breadcrumb-item active">Consulta</li>
</ol>

<!-- DataTables Example -->
<div id="panelResultadoCliente" class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" id="tblCliente" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>C&oacute;digo</th>
            <th>Tipo Doc.</th>
            <th>Nro. Documento</th>
            <th>Raz&oacute;n Social / Nombre</th>
            <th>Categor&iacute;a</th>
            <th>Tel. Fijo</th>
            <th>Tel. Movil</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="row">
      <div class="col-md-2">
        <button id="btnNuevo" class="btn btn-primary" type="button">Nuevo</button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="panelCliente" tabindex="-1" role="dialog" aria-labelledby="modalCliente" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCliente">Registrar Cliente</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#215;</span>
          </button>
        </div>
        <div class="modal-body container">

          <form>
            <div class="row">
              <div class="col-md-2">
                <label for="txtCodigo">C&oacute;digo :</label>
              </div>
              <div class="col-md-10">
                <input type="text" id="txtCodigo" class="form-control" readonly="true">
              </div>
            </div>
  
            <div class="row">
                <div class="col-md-2">
                  <label for="cboTipoDocumento">Tipo de Documento :</label>
                </div> 
                <div class="col-md-10">
                  <select id="cboTipoDocumento" class="form-control">
                    <option value='1'>DNI</option>
                    <option value='2'>RUC</option>
                  </select>
                </div>
            </div>
  
            <div class="row">
                <div class="col-md-2">
                  <label for="txtNumDoc">Nro. de Documento :</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="txtNumDoc" class="form-control" placeholder="Ingresar N&uacute;mero de Documento" >
              </div>
            </div>
  
            <div id="panel-persona-natural">
              <div class="row">
                <div class="col-md-2">
                    <label for="txtNombres">Nombres :</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="txtNombres" class="form-control" placeholder="Ingresar Nombres" >
                </div>
              </div>
    
              <div class="row">
                <div class="col-md-2">
                  <label for="txtApePate">Apellido Paterno :</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="txtApePate" class="form-control" placeholder="Ingresar Apellido Paterno" >
                </div>   
              </div>
    
              <div class="row">
                <div class="col-md-2">
                  <label for="txtApeMate">Apellido Materno :</label>
                </div>  
                <div class="col-md-10">
                  <input type="text" id="txtApeMate" class="form-control" placeholder="Ingresar Apellido Materno" >
                </div>
              </div>
  
              <div class="row">
                  <div class="col-md-2">
                    <label for="txtEmail">E-mail :</label>
                  </div>
                  <div class="col-md-10">
                  <input type="text" id="txtEmail" class="form-control" placeholder="Ingresar E-mail" >
                </div>
              </div>
    
              <div class="row">
                  <div class="col-md-2">
                    <label for="cboSexo">Sexo :</label>
                  </div> 
                  <div class="col-md-10">  
                    <select id="cboSexo" class="form-control">
                      <option value='1'>Masculino</option>
                      <option value='0'>Femenino</option>
                    </select>
                </div>
              </div>
            </div>
            
            <div id="panel-persona-juridica">
              <div class="row">
                <div class="col-md-2">
                  <label for="txtRazonSoc">Raz&oacute;n Social :</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="txtRazonSoc" class="form-control" placeholder="Ingresar Raz&oacute;n Social" >
                </div>
              </div>
    
              <div class="row">
                <div class="col-md-2">
                  <label for="txtContacto">Contacto :</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="txtContacto" class="form-control" placeholder="Ingresar Contacto" >
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-2">
                <label for="txtCate">Categor&iacute;a :</label>
              </div>
              <div class="col-md-10">
                <input type="text" id="txtCate" class="form-control" placeholder="Ingresar Categor&iacute;a" >
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-2">
                <label for="txtTelef">T&eacute;lefono Fijo:</label>
              </div>
              <div class="col-md-10">
                <input type="text" id="txtTelef" class="form-control" placeholder="Ingresar Tel&eacute;fono" >
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2">
                <label for="txtCelular">T&eacute;lefono Movil :</label>
              </div>
              <div class="col-md-10">
                <input type="text" id="txtCelular" class="form-control" placeholder="Ingresar N&uacute;mero Celular" >
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2">
                <label for="txtDire">Direcci&oacute;n :</label>
              </div>
              <div class="col-md-10">
                <input type="text" id="txtDire" class="form-control" placeholder="Ingresar Direcci&oacute;n" >
              </div>
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button id="btnCancelar" class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <button id="btnGuardar" class="btn btn-primary" type="button">Guardar</button>
        </div>
      </div>
    </div>
  </div>