
  <!-- Demo scripts for this page-->
<!--
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>
-->
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Resumen de reservas</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">26 Nuevas Reservas!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver detalles</span>
                <span class="float-right">
                <i class="fas fa-angle-right"></i>
                </span>
            </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">11 Reservas por Anularse !</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver detalles</span>
                <span class="float-right">
                <i class="fas fa-angle-right"></i>
                </span>
            </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">123 Reservas Facturadas!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver detalles</span>
                <span class="float-right">
                <i class="fas fa-angle-right"></i>
                </span>
            </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">13 Reservas perdidas!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Ver detalles</span>
                <span class="float-right">
                <i class="fas fa-angle-right"></i>
                </span>
            </a>
            </div>
        </div>
        </div>

        <!-- Area Chart Example-->
        <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Reservas realizadas durante el mes</div>
        <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">Actualizado el viernes 26, 11:59 PM</div>
        </div>