<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Reservas</a>
  </li>
  <li class="breadcrumb-item active">Consulta</li>
</ol>

<!-- DataTables Example -->
<div id="panelResultadoReserva" class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered" id="tblReserva" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>C&oacute;digo</th>
            <th>Tipo Doc.</th>
            <th>Nro. Documento</th>
            <th>Raz&oacute;n Social / Nombre</th>
            <th>Paquete</th>
            <th>Cant. A</th>
            <th>Cant. B</th>
            <th>Cant. C</th>
            <!-- <th>&nbsp;</th> -->
          </tr>
        </thead>
      </table>
    </div>

    <div class="row">
      <div class="col-md-2">
        <button id="btnNuevo" class="btn btn-primary" type="button">Nuevo</button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="panelReserva" tabindex="-1" role="dialog" aria-labelledby="modalReserva" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalReserva">Registrar Reserva</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#215;</span>
          </button>
        </div>
        <div class="modal-body container">

          <form>
            <div class="form-row">
              <div class="col-md-2">
                <label for="txtCodReserva">C&oacute;digo Reserva:</label>
              </div>
              <div class="col-md-10">
                <input type="text" id="txtCodReserva" class="form-control" disabled>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2">
                <label for="txtCodCliente">Cliente :</label>
              </div>  
              <div class="col-md-10">
                <div class="input-group">
                  <input type="text" class="form-control typeahead border-primary" name="query" id="txtCodCliente" placeholder="Buscar ..." data-provide="typeahead" autocomplete="off">
                  <div class="input-group-append">
                      <button type="button" class="btn btn-outline-primary">
                          <i class="fa fa-search"></i>
                      </button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-row">
              <div class="col-md-2">
                  <label for="txtFechaReserva">Fecha de Reservaci&oacute;n :</label>
              </div>
              <div class="col-md-10">
                <input type="text" id="txtFechaReserva" class="form-control" placeholder="Ingresar Fecha de Reservaci&oacute;n" required="required">
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2">
                <label for="cboAgencia">Agencia :</label>
              </div> 
              <div class="col-md-10">
                <select id="cboAgencia" class="form-control">
                  <option value='1'>Demo 1</option>
                  <option value='2'>Demo 2</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2">
                <label for="txtCodPaq">Paquete :</label>
              </div> 
              <div class="col-md-10">
                <select id="cboPaquete" class="form-control">
                  <option value='1'>Demo 1</option>
                  <option value='2'>Demo 2</option>
                </select>
              </div>
            </div>

            <div class="form-row">
                <div class="col-md-2">
                  <label for="txtCantA">Cant. Adultos :</label>
                </div>
                <div class="col-md-10">
                  <input type="text" id="txtCantA" class="form-control" placeholder="Ingresar Cantidad A" required="required">
              </div>
            </div>

            <div class="form-row">
                <div class="col-md-2">
                  <label for="txtCantB">Cant. Ni&ntilde;os :</label>
                </div>
                <div class="col-md-10">
                <input type="text" id="txtCantB" class="form-control" placeholder="Ingresar Cantidad B" required="required">
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2">
                <label for="txtCantC">Cant. May. 60 :</label>
              </div> 
              <div class="col-md-10">
                <input type="text" id="txtCantC" class="form-control" placeholder="Ingresar Cantidad C" required="required">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="btnCancelar" class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <button id="btnGuardar" class="btn btn-primary" type="button">Guardar</button>
          <button id="btnCerrar" class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>